<div class="jumbo">
  <div class="right tomster"></div>
  <h2>About Super Rentals</h2>
  <p>
    The Show Rentals website is a delightful project created to explore Ember.
    By building a tv show tracking website, we can simultaneously imagine watching our favourite movies AND build an Ember application! 
  </p>
  {{#link-to 'contact' class="button"}}
    Contact Us
  {{/link-to}}
</div>