<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Contact Us</h2>
  <p>Show Rentals Representatives would love to help you<br>choose a destination or answer
    any questions you may have.</p>
  <p>
    Show Rentals HQ
    <address>
      1912 Pacific Ct Apartment #104<br>
      Kelowna, BC
    </address>

    <p> Contact Joe Bhullar: </p>
    <a href="tel:403.701.9561">+1 (403) 701-9561</a><br>
    <a href="mailto:superrentalsrep@emberjs.com">joebhullar11@gmail.com</a>
  </p>
{{#link-to 'about' class="button"}}
    About
  {{/link-to}}

</div>